<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <link href="/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/css/mycss.css" rel="stylesheet">
</head>
<body id="page-top">

<div id="wrapper">
    <div th:insert="fragments/navbar :: navbar" class="navbar-body"></div>

    <div id="content-wrapper" class="d-flex flex-column">
        <div th:insert="fragments/topBar :: topBar"></div>

        <div id="content">
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h2>Actualizar Organización</h2>
            </div>
            <div class="card shadow mb-4">
                <div class="card-body">
                    <div th:if="${error}" class="alert alert-danger" role="alert">
                        <p th:text="${error}"></p>
                    </div>
                    <form th:action="@{/organization/updateOrganization}" th:object="${organization}" method="post">
                        <div class="form-group row" >
                            <label for="name" class="col-sm-2 col-form-label">Nombre:</label>
                            <div class="col-sm-10">
                                <input type="text" readonly="readonly" class="form-control" th:field="*{name}" id="name">
                            </div>
                            <p class="col-sm-12 col-form-label" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" /></p>
                        </div>
                        <div class="form-group row" >
                            <label for="address" class="col-sm-2 col-form-label">Dirección:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" th:field="*{address}" id="address">
                            </div>
                        </div>
                        <div class="form-group row" >
                            <label for="email" class="col-sm-2 col-form-label">Correo:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" th:field="*{email}" id="email">
                            </div>
                        </div>
                        <div class="form-group row" >
                            <label for="phone" class="col-sm-2 col-form-label">Teléfono:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" th:field="*{phone}" id="phone">
                            </div>
                        </div>
                        <div class="form-group row" >
                            <label for="creationDate" class="col-sm-2 col-form-label">Fecha de fundación:</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="creationDate" th:field="*{creationDate}" name="creationDate" type="text" autocomplete="new-creationDate"/>
                            </div>
                        </div>

                        <div class="form-group row" >
                            <label for="economicActivity" class="col-sm-2 col-form-label">Actividad de la organización:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" th:field="*{economicActivity}" id="economicActivity">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="economicArea" class="col-sm-2 col-form-label">Sector al que pertenece:</label>
                            <div class="col-sm-10">
                                <select class="custom-select my-1 mr-sm-2 form-control" th:field="*{economicArea.id}"
                                        name="economicArea" id="economicArea">
                                    <option th:each="economicArea : ${economicAreaList}"
                                            th:value="${economicArea.id}"
                                            th:text="${economicArea.name}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row" >
                            <label for="quantityEmployees" class="col-sm-2 col-form-label">Número de trabajadores:</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" th:field="*{quantityEmployees}" id="quantityEmployees">
                            </div>
                        </div>
                        <div class="form-group row" >
                            <label for="worker" class="col-sm-2 col-form-label">Trabajador a cargo:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" th:field="*{worker}" id="worker">
                            </div>
                        </div>
                        <div class="form-group row" >
                            <label for="workerPosition" class="col-sm-2 col-form-label">Cargo:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" th:field="*{workerPosition}" id="workerPosition">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Modificar</button>
                    </form>
                </div>
            </div>
        </div>
        <div th:insert="fragments/footer::footer"></div>
    </div>
</div>

<div th:insert="fragments/topBar::logoutModal"></div>

<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
</body>

<script src="/jquery/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/js/sb-admin-2.min.js"></script>

<!-- jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- Bootstrap Date-Picker Plugin -->
<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

<script>
    $(document).ready(function(){
        var date_input = $('input[name="creationDate"]');
        var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
        date_input.datepicker({
            format: 'dd/mm/yyyy',
            container: container,
            todayHighlight: true,
            autoclose: true,
            pickTime: false
        });
    });

    var user = $('#userEmail').text();
    $('#userEmail').text(user.substring(0,user.indexOf('@')));
</script>

</html>
