<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/css/mycss.css" rel="stylesheet">
    <link href="/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <title>Diagnóstico de Gestión de Recursos Humanos</title>

    <!-- ✅ CSRF (Spring Security) -->
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body id="page-top">

<div id="wrapper">
    <div th:insert="fragments/navbar :: navbar" class="navbar-body"></div>

    <div id="content-wrapper" class="d-flex flex-column">
        <div th:insert="fragments/topBar :: topBar"></div>
        <div id="content">
            <div class="container-fluid">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h2>Diagnóstico de Gestión de Recursos Humanos</h2>
                </div>

                <div class="card shadow mb-4" th:switch="${surveyQuestions.empty}">
                    <div class="card-body text-center" th:case="${true}">
                        <h4>Haz finalizado la encuesta con exito</h4>
                        <div class="row col-12">
                            <img class="send-survey" src="/img/documento.png"/>
                        </div>
                        <a class="btn btn-success" th:href="@{/survey/closeSurvey(surveyId=${survey.id})}" role="button">
                            Enviar respuestas y ver resultados
                        </a>
                    </div>

                    <div class="card-body" th:case="*">
                        <div class="row col-12">
                            <h4 class="fw-bold text-center mt-3"></h4>

                            <div class="col-12">
                                <form th:each="question: ${surveyQuestions}" class="col-12 bg-white px-4"
                                      th:action="@{/survey/saveSurvey}"
                                      th:object="${survey}" th:id="${question.id}" method="post">
                                    <input type="hidden" th:field="*{id}" id="surveyId"/>
                                    <div class="mb-4" id="bodyForm" th:if="${question.father == null}">
                                        <div class="card border-left-primary shadow h-100 py-2">
                                            <div class="card-body">
                                                <div class="form-check mb-2">
                                                    <label th:if="${question.father == null}"
                                                           th:text="${question.description}" class="my-1 mr-2"></label>
                                                    <select class="custom-select my-1 mr-sm-2 form-control"
                                                            name="answerId" th:id="answer + ${question.id}"
                                                            onchange="save(this);">
                                                        <option selected value="">--</option>
                                                        <option th:each="answer : ${surveyQuestions}"
                                                                th:if="${answer.father?.id == question.id && !answer.isSublevel}"
                                                                th:value="${answer.id}"
                                                                th:text="${answer.description}"/>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="col-12" th:id="subLevel">
                                <form th:each="subLevelQuestion: ${subLevelQuestions}" class="col-12 bg-white px-4"
                                      th:action="@{/survey/saveSurvey}"
                                      th:object="${survey}" th:id="${subLevelQuestion.id}" method="post">
                                    <input type="hidden" th:field="*{id}" id="subLevelSurveyId"/>
                                    <div class="mb-4" id="subLevelBodyForm" th:if="${subLevelQuestion.question}">
                                        <div class="card border-left-primary shadow h-100 py-2">
                                            <div class="card-body">
                                                <div class="form-check mb-2">
                                                    <label th:if="${subLevelQuestion.question}"
                                                           th:text="${subLevelQuestion.description}"
                                                           class="my-1 mr-2"></label>
                                                    <select class="custom-select my-1 mr-sm-2 form-control"
                                                            name="subLevelAnswerId"
                                                            th:id="subLevelAnswer + ${subLevelQuestion.id}"
                                                            onchange="saveSubLevel(this);">
                                                        <option selected value="">--</option>
                                                        <option th:each="subLevelAnswer : ${subLevelQuestions}"
                                                                th:if="${subLevelAnswer.classification?.id == subLevelQuestion.classification.id && !subLevelAnswer.question}"
                                                                th:value="${subLevelAnswer.id}"
                                                                th:text="${subLevelAnswer.description}"/>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="col-12">
                                <button type="button" onclick="goBack()" th:id="backButton" class="btn btn-primary">Atras</button>
                                <button type="button" onclick="goAhead()" th:id="nextButton" class="btn btn-primary">Siguiente</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:insert="fragments/footer::footer"></div>
    </div>
</div>

<div th:insert="fragments/topBar::logoutModal"></div>

<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
</body>

<script src="/jquery/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/js/sb-admin-2.min.js"></script>
<script src="/datatables/jquery.dataTables.min.js"></script>
<script src="/datatables/dataTables.bootstrap4.min.js"></script>
<script src="/js/demo/datatables-demo.js"></script>

<script th:inline="javascript">
    var currentQuestionId = 0;
    var lastQuestionId = 0;
    var currentAnswerId = 0;
    var surveyItemExcluded = [[${surveyItemExcludedList}]];
    var surveyAnswers = [[${survey.surveyDetailList}]];
    var surveyQuestions = [[${surveyQuestions}]];
    var subLevelQuestion = [[${subLevelQuestions}]];
    var showSubLevel = false;
    var section = 0;

    /* ✅ CSRF: lee token y nombre del header desde los meta-tags */
    const CSRF_TOKEN  = document.querySelector('meta[name="_csrf"]')?.getAttribute('content');
    const CSRF_HEADER = document.querySelector('meta[name="_csrf_header"]')?.getAttribute('content');

    //get the id of the questions shows in the screen
    var currentQuestion = surveyQuestions.map(function(a) {
        if (a.father == null) {
            section = a.section;
            return a.id;
        }
    });

    //get the current question id
    for (const question of currentQuestion) {
        if (question != null) {
            lastQuestionId = question;
        }
    }

    console.log(lastQuestionId);

    //get the id of the questions shows in the screen
    var currentSubLevelQuestion = subLevelQuestion.map(function(a) {
        if (a.father && a.father.id == lastQuestionId) {
            return a.id;
        }
    });

    $('#subLevel').hide();
    $('#nextButton').hide();

    //get the answers of the current question in the screen
    var currentAnswers = surveyAnswers.filter(function(item) {
        return (currentQuestion.indexOf(parseInt(item.question.id)) > -1);
    });

    //asign to the question on screen the response
    for (const answer of currentAnswers) {
        currentAnswerId = answer.answer.id;
        currentQuestionId = answer.question.id;

        if (answer.answer.id != 999) {
            $('#answer' + answer.question.id).val(answer.answer.id);
        }
        $('#subLevelAnswer' + answer.subQuestion.id).val(answer.subAnswer.id);

        if (answer) {
            $('#nextButton').show();
        }
    }

    //check and get if the current question id has answers in the excluded list
    var showSubLevels = surveyItemExcluded.filter(function(item) {
        return (currentQuestion.indexOf(parseInt(item.question.id)) > -1);
    });

    console.log(currentAnswerId);
    //validate the currentAnswerId in order to show or hide the sublevels question
    if ((currentAnswerId > 0 && section != 2) || currentAnswerId === 0 && lastQuestionId === 11) {
        if (showSubLevels.length > 0 ) {
            for (const subLevel of showSubLevels) {
                if (subLevel.answer.id == currentAnswerId) {
                    $('#subLevel').hide();
                    showSubLevel = false;
                    break;
                } else {
                    $('#subLevel').show();
                    showSubLevel = true;
                }
            }
        } else {
            $('#subLevel').show();
            showSubLevel = true;
        }
    }

    if (lastQuestionId <= 4) {
        $('#backButton').hide();
        $('#subLevel').hide();
        showSubLevel = false;
    }
    //Question 11 does not have answers
    if (lastQuestionId === 11) {
        $('#nextButton').show();
        $('#answer11').hide();
    }

    if (surveyQuestions.length <= 1 && section != 2) {
        $('#answer' + lastQuestionId).hide();
        $('#subLevel').show();
        showSubLevel = true;
        $('#nextButton').show();
    }

    function save(sel) {
        $('#nextButton').show();
        currentQuestionId = $(sel).closest("form").attr('id');

        // ⚠️ Evita mandar "" o "0" como answerId
        let answerId = $(sel).val();
        if (answerId === "" || answerId === "0") { answerId = null; }

        var data = {
            "surveyId": $('#surveyId').val(),
            "questionId": currentQuestionId,
            "answerId": answerId,
            "subQuestionId": 999,
            "subAnswerId": 999,
            "nextPage": true,
            "diagnosticId": 1
        };

        $.ajax({
            url: "/survey/saveSurvey",
            method: "POST",
            data: data,
            dataType: 'html', // el backend devuelve vista HTML
            headers: CSRF_TOKEN && CSRF_HEADER ? { [CSRF_HEADER]: CSRF_TOKEN } : {},
            success: function(data) {
                console.log("Respuesta guardada con exito");
                // Si necesitas, aquí puedes actualizar parte del DOM con 'data'
            },
            error: function(xhr, status, errorThrown) {
                console.log("Ocurrio un error al guardar la respuesta. " + status);
            }
        });

        if (section === 1) {
            if (showSubLevels.length > 0) {
                for (const subLevel of showSubLevels) {
                    if (subLevel.answer.id == answerId) {
                        $('#subLevel').hide();
                        showSubLevel = false;
                        break;
                    } else {
                        $('#subLevel').show();
                        showSubLevel = true;
                    }
                }
            } else{
                $('#subLevel').show();
                showSubLevel = true;
            }
        }
    }

    function saveSubLevel(sel) {
        var data = {
            "surveyId": $('#surveyId').val(),
            "answerId": 999,
            "questionId": lastQuestionId,
            "subQuestionId": $(sel).closest("form").attr('id'),
            "subAnswerId": $(sel).val(),
            "nextPage": true,
            "diagnosticId": 1
        };

        $.ajax({
            url: "/survey/saveSurvey",
            method: "POST",
            data: data,
            dataType: 'html',
            headers: CSRF_TOKEN && CSRF_HEADER ? { [CSRF_HEADER]: CSRF_TOKEN } : {},
            success: function(data) {
                console.log("Respuesta guardada con exito");
            },
            error: function(xhr, status, errorThrown) {
                console.log("Ocurrio un error al guardar la respuesta. " + status);
            }
        });
    }

    function goBack() {
        window.location.href = "/survey/surveyForm?nextPage=false&questionId="+ lastQuestionId +"&diagnosticId=1";
    }

    function goAhead() {
        var next = true;
        for (const subLevelSelect of currentSubLevelQuestion) {
            if (typeof subLevelSelect != 'undefined' && ($('#subLevelAnswer'+subLevelSelect).val() === "")) {
                next = false;
                break;
            }
        }

        if (!showSubLevel) {
            window.location.href = "/survey/surveyForm?nextPage=true&questionId="+ (lastQuestionId)+"&diagnosticId=1";
        } else if (next && showSubLevel) {
            window.location.href = "/survey/surveyForm?nextPage=true&questionId="+ (lastQuestionId)+"&diagnosticId=1";
        } else {
            alert("Por favor diligencia todas las preguntas para poder continuar");
        }
    }

    var user = $('#userEmail').text();
    $('#userEmail').text(user.substring(0,user.indexOf('@')));
</script>

</html>
