<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="utf-8">
    <link href="/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/css/mycss.css" rel="stylesheet">

</head>
<body id="page-top">


<div id="wrapper">
    <div class="navbar-body" th:insert="fragments/navbar :: navbar"></div>

    <div id="content-wrapper" class="d-flex flex-column">
        <div th:insert="fragments/topBar :: topBar"></div>

        <div id="content">
            <div class="container-fluid">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h2>Créditos</h2>
                </div>
                <div class="card shadow mb-4">
                    <div class="card-body border-left-primary" style="text-align:justify;">
                        <p>
                            Esta herramienta es de propiedad de CEIPA Business School. Se ha realizado como producto del proyecto de investigación
                            titulado “Prácticas Estratégicas de Gestión Humana en pequeñas y medianas empresas” y su
                            objetivo es diagnosticar el estado de la gestión de recursos humanos de las empresas como
                            herramienta para realizar un plan de intervención para la mejora de sus resultados, teniendo
                            en cuenta los avances más recientes en esta área del desarrollo empresarial.
                            <br><br>
                        <li>Elaborado por: Luis Cristian Soto Jáuregui - Yarmín Lorena Taborda Morales<br></li>
                        <li>Desarrollado por: Frayba Otalora<br></li>
                        </p>
                        <p>
                            La base conceptual y teórica para el desarrollo de esta plataforma ha sido tomada de las
                            siguientes fuentes:
                        <ol>
                            <li>Adla, L., & Gallego-Roquelaure, V. (2019). The gift in shared HRM ethics in SMEs.
                                Employee
                                Relations, 41(5), 997–1014. https://doi.org/10.1108/ER-06-2018-0171
                            </li>
                            <li>Bal, P. M., Kooij, D. T. A. M., & De Jong, S. B. (2013). How Do Developmental and
                                Accommodative HRM Enhance Employee Engagement and Commitment? The Role of Psychological
                                Contract and SOC Strategies. Journal of Management Studies, 50(4), 545–572.
                                https://doi.org/10.1111/joms.12028
                            </li>
                            <li>Chung, K. L., & D’Annunzio-Green, N. (2018). Talent management practices in small- and
                                medium-sized enterprises in the hospitality sector: An entrepreneurial owner-manager
                                perspective. Worldwide Hospitality and Tourism Themes, 10(1), 101–116.
                                https://doi.org/10.1108/WHATT-10-2017-0065
                            </li>
                            <li>Dabić, M., Maley, J., Dana, L. P., Novak, I., Pellegrini, M. M., & Caputo, A. (2020).
                                Pathways of SME internationalization: a bibliometric and systematic review. Small
                                Business
                                Economics, 55(3), 705–725. https://doi.org/10.1007/s11187-019-00181-6
                            </li>
                            <li>Denison, D. R., & Mishra, A. K. (1995). Toward a Theory of Organizational Culture and
                                Effectiveness. Organization Science, 6(2), 204–223.
                            </li>
                            <li>Fey, C. F., & Denison, D. R. (2003). Organizational Culture and Effectiveness: Can
                                American
                                Theory be Applied in Russia? Organization Science, 14(6), 686–706.
                                https://doi.org/10.1287/orsc.14.6.686.24868
                            </li>
                            <li>Gittins, T., Lang, R., & Sass, M. (2015). The effect of return migration driven social
                                capital on SME internationalisation: a comparative case study of IT sector entrepreneurs
                                in
                                Central and Eastern Europe. Review of Managerial Science, 9(2), 385–409.
                                https://doi.org/10.1007/s11846-014-0161-5
                            </li>
                            <li>Han, S. Y., & Ko, Y. (2019). A structural equation model of successful aging in Korean
                                older
                                women: using selection-optimization-compensation (SOC) strategies. Journal of Women and
                                Aging, 00(00), 1–16. https://doi.org/10.1080/08952841.2019.1681883
                            </li>
                            <li>Heilmann, P., Forsten-Astikainen, R., & Kultalahti, S. (2020). Agile HRM Practices of
                                SMEs.
                                Journal of Small Business Management, 1–16. https://doi.org/10.1111/jsbm.12483
                            </li>
                            <li>Irwin, K. C., Landay, K. M., Aaron, J. R., McDowell, W. C., Marino, L. D., & Geho, P. R.
                                (2018). Entrepreneurial orientation (EO) and human resources outsourcing (HRO): A “HERO”
                                combination for SME performance. Journal of Business Research, 90(May), 134–140.
                                https://doi.org/10.1016/j.jbusres.2018.05.016
                            </li>
                            <li>Jesuthasan, R., Malcolm, T., & Cantrell, S. (2020). How the Coronavirus Crisis is
                                Redefining
                                Jobs. Harvard Business Review, 2–5.
                            </li>
                            <li>Krishnan, T. N., & Scullion, H. (2017). Talent management and dynamic view of talent in
                                small and medium enterprises. Human Resource Management Review, 27(3), 431–441.
                                https://doi.org/10.1016/j.hrmr.2016.10.003
                            </li>
                            <li>L’Écuyer, F., Raymond, L., Fabi, B., & Uwizeyemungu, S. (2019). Strategic alignment of
                                IT
                                and human resources management in manufacturing SMEs: Empirical test of a mediation
                                model.
                                Employee Relations, 41(5), 830–850. https://doi.org/10.1108/ER-09-2018-0258
                            </li>
                            <li>Lengnick-Hall, M. L., Lengnick-Hall, C. A., Andrade, L. S., & Drake, B. (2009).
                                Strategic
                                human resource management: The evolution of the field. Human Resource Management Review,
                                19(2), 64–85. https://doi.org/10.1016/j.hrmr.2009.01.002
                            </li>
                            <li>Magsi, H. B., Ong, T. S., Ho, J. A., & Hassan, A. F. S. (2018). Organizational culture
                                and
                                environmental performance. Sustainability (Switzerland), 10(8), 1–18.
                                https://doi.org/10.3390/su10082690
                            </li>
                            <li>Masri, H. A., & Jaaron, A. A. M. (2017). Assessing green human resources management
                                practices in Palestinian manufacturing context: An empirical study. Journal of Cleaner
                                Production, 143, 474–489. https://doi.org/10.1016/j.jclepro.2016.12.087
                            </li>
                            <li>Mubarik, M. S., Govindaraju, C., & Devadason, E. S. (2016). Human capital development
                                for
                                SMEs in Pakistan: Is the “onesize-fits-all” policy adequate? International Journal of
                                Social
                                Economics, 43(8), 804–822. https://doi.org/10.1108/IJSE-02-2015-0033
                            </li>
                            <li>Onkelinx, J., Manolova, T. S., & Edelman, L. F. (2016a). Human capital and SME
                                internationalization: Empirical evidence from Belgium. International Small Business
                                Journal:
                                Researching Entrepreneurship, 34(6), 818–837. https://doi.org/10.1177/0266242615591856
                            </li>
                            <li>Onkelinx, J., Manolova, T. S., & Edelman, L. F. (2016b). The human factor: Investments
                                in
                                employee human capital, productivity, and SME internationalization. Journal of
                                International
                                Management, 22(4), 351–364. https://doi.org/10.1016/j.intman.2016.05.002
                            </li>
                            <li>Pak, K., Kooij, D. T. A. M., De Lange, A. H., & Van Veldhoven, M. J. P. M. (2019). Human
                                Resource Management and the ability, motivation and opportunity to continue working: A
                                review of quantitative studies. Human Resource Management Review, 29(3), 336–352.
                                https://doi.org/10.1016/j.hrmr.2018.07.002
                            </li>
                            <li>Rafiki, A. (2020). Determinants of SME growth: an empirical study in Saudi Arabia.
                                International Journal of Organizational Analysis, 28(1), 205–225.
                                https://doi.org/10.1108/IJOA-02-2019-1665
                            </li>
                            <li>Sheehan, M., Grant, K., & Garavan, T. (2018). Strategic talent management: A macro and
                                micro
                                analysis of current issues in hospitality and tourism. Worldwide Hospitality and Tourism
                                Themes, 10(1), 28–41. https://doi.org/10.1108/WHATT-10-2017-0062
                            </li>
                            <li>Teo, S. T. T., Le Clerc, M., & Galang, M. C. (2011). Human capital enhancing HRM systems
                                and
                                frontline employees in Australian manufacturing SMEs. International Journal of Human
                                Resource Management, 22(12), 2522–2538. https://doi.org/10.1080/09585192.2011.588034
                            </li>
                            <li>Tran, N. P., & Vo, D. H. (2020). Human capital efficiency and firm performance across
                                sectors in an emerging market. Cogent Business and Management, 7(1), 1–15.
                                https://doi.org/10.1080/23311975.2020.1738832
                            </li>
                            <li>Uwizeyemungu, S., Raymond, L., Poba-Nzaou, P., & St-Pierre, J. (2018). The
                                complementarity
                                of IT and HRM capabilities for competitive performance: a configurational analysis of
                                manufacturing and industrial service SMEs. Enterprise Information Systems, 12(10),
                                1336–1358. https://doi.org/10.1080/17517575.2018.1448118
                            </li>
                            <li>Wang, X. L., Wang, L., Bi, Z., Li, Y. Y., & Xu, Y. (2016). Cloud computing in human
                                resource
                                management (HRM) system for small and medium enterprises (SMEs). International Journal
                                of
                                Advanced Manufacturing Technology, 84(1–4), 485–496.
                                https://doi.org/10.1007/s00170-016-8493-8
                            </li>
                            <li>Yazdi, P. G., Azizi, A., & Hashemipour, M. (2018). An empirical investigation of the
                                relationship between overall equipment efficiency (OEE) and manufacturing sustainability
                                in
                                industry 4.0 with time study approach. Sustainability (Switzerland), 10(9).
                                https://doi.org/10.3390/su10093031
                            </li>
                            <li>Yong, J. Y., Yusliza, M. Y., Jabbour, C. J. C., & Ahmad, N. H. (2019). Exploratory cases
                                on
                                the interplay between green human resource management and advanced green manufacturing
                                in
                                light of the Ability-Motivation-Opportunity theory. Journal of Management Development,
                                39(1), 31–49. https://doi.org/10.1108/JMD-12-2018-0355
                            </li>
                            <li>Yu, W., Chavez, R., Feng, M., Wong, C. Y., & Fynes, B. (2020). Green human resource
                                management and environmental cooperation: An ability-motivation-opportunity and
                                contingency
                                perspective. International Journal of Production Economics, 219(August 2018), 224–235.
                                https://doi.org/10.1016/j.ijpe.2019.06.013
                            </li>
                            <li>Zmauc, T., Zeleznik, D., & Tezak, O. (2019). Relationship between Selection,
                                Optimization
                                and Compensation and the Work Ability of Nurses over Fifty Years of Age. Organizacija,
                                52(4), 253–270. https://doi.org/10.2478/orga-2019-0016
                            </li>
                        </ol>
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <div th:insert="fragments/footer::footer"></div>
    </div>
</div>

<div th:insert="fragments/topBar::logoutModal"></div>

</body>
<script src="/jquery/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/js/sb-admin-2.min.js"></script>
<script th:inline="javascript">
    var user = $('#userEmail').text();
    $('#userEmail').text(user.substring(0,user.indexOf('@')));
</script>
</html>