<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/css/mycss.css" rel="stylesheet">

    <title>Bienvenido</title>
</head>
<body>
<div class="index-container">
    <div class="index-header">
        <img src="/img/logo.png">
        <a class="btn btn-info login-button" href="/login" role="button">Iniciar sesión</a>
    </div>
    <div class="index-hands">
        <div class="summary" style="width:55%">

            <p style="padding-left: 20px;padding-right: 20px;">
                <b style="font-size:17px">Para acceder a la plataforma de diagnóstico de gestión de recursos humanos de su organización tenga presentes las siguientes recomendaciones:</b> <br>
                <b>1.</b> 	La organización a la que vaya a aplicar el diagnóstico debe ser una empresa real.<br>
                <b>2.</b> 	La primera vez que vaya a usar la plataforma debe aceptar las condiciones de uso respectivas.


            </p>
        </div>
        <img src="/img/hands.png">
    </div>
    <div class="index-footer">
        <img src="/img/indexFooter.png">
    </div>
</div>


</body>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

</html>